
.app-container {
    border-radius: 10px;
    width: 24%;
    height: 390px;
    text-align: center;
    padding: 50px;
    margin: 80px auto 0 auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

p {
  margin-top: 35px;
  font-size: 100px;
  font-weight: bold;
  color: rgb(240, 248, 255);
}

.app-container button {
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
    width: 140px;
    height: 50px;
    margin-top: 40px;
    font-weight: bold;
    color: #dd3d3d;
    font-size: 16px;
    margin-right: 20px;
}

button:hover {
    cursor: pointer;
}

.pomodoro {
  background: linear-gradient(to right, #df2323, #da1111, #ff2600);
}

.break {
  background: linear-gradient(to right, dodgerblue, cornflowerblue, deepskyblue);
}
